<!--access denied page-->

<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/global}"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access denied</title>
</head>
<body>

<div class="container" layout:fragment="content">
    <h1>Access denied</h1>
    <p>Sorry, you are not authorized to access this page.</p>
    <a href="javascript:history.back()">Go back</a>
</div>
</body>
</html>